
/* Variables in CSS */
:root {
  --padding: 1rem;
  --width: 200px;
  --height: auto;
  --color: #fff;
  --border-color: #ccc;
  --custom-color: #333;
  --box-size: 2px;
  --blue-color: blue;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  background-color: var(--blue-color);
  padding: 2.2rem;

}


nav a {
  color: red;
  padding: 1rem;
  display: block;
}


h1 {
  color: var(--custom-color);
  padding: 6rem;
}

img {
  width: var(--width);
  height: var(--height);
  padding: 1rem;
  box-shadow: var(--box-size) var(--box-size) 5px var(--custom-color);
  border: 1px solid var(--border-color);
  float: right;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

main img {
  max-width: 840px;
}

aside {
  width: 20rem;
  margin: var(--padding);
  border: 1px solid rgb(0,0,0 / 0.1);
  padding: var(--padding);
  background-color: var(--color);
  color: var(--custom-color);
  position: relative;
}

aside img {
  width: var(--width);
  height: var(--height);
}

p {
  padding: 0;
}

footer {
  margin-top: 12px;
  border-top: 1px solid var(--border-color);
  text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1rem;
  padding: 1rem;
  background-color: lightgray;
  overflow: auto;
}
  


.box img {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}