main {
    max-width: 840px;
}

aside {
    width: 20rem ;
    margin: 1rem ;
    border: 1px solid #001 /0.2;
    padding: 1rem ;
    background-color: #eee;
    color: #333 ;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150;
    height: auto;
}
p { padding: 0;}

footer {
    margin-top: 12px;
    border-top: 1px;
    text-align: center;
}